@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif; 
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


*{
    margin: 0px;
    padding: 0px;
}


body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}


header{
    background-color: black;
    color: white;
    text-align: center;
}


header > h1{
    padding-top: 50px;
    font-family: var(--fonte2);
    font-size: 10vw;
    font-variant: small-caps;
}


header > p{
    padding-bottom: 50px;
}


a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}


a:hover{
    text-decoration: underline;
}


section{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px ;
    font-size: 3.5vw;
    font-family: var(--fonte3);
}

section > p{
    padding-bottom: 2em;
}


.normal{
    background-color: white;
    color: black;
}


.imagem{
    background-color: rgb(32, 31, 31);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.438);
    background-size: cover;
    background-attachment: fixed;
}



.imagem > p{
    background-color:rgba(0, 0, 0, 0.514);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

#img01{
    background-image: url(imagens/background001.jpg);
    background-position: center;
}

#img02{
    background-image: url(imagens/background002.jpg);
}


footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}